.ccb_popup_cookie
{
    position: fixed;
    border-radius: 5px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 10px 20px;
    background: #0da80d;
    color: #fff;
    z-index: 9999;
    display: none;

    font-size: 16px;
}

.ccb_popup_cookie.show
{
    display: block;
}

.ccb_popup_cookie_inner
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    -ms-flex-align: center;
    align-items: center;
    position: relative;   
}

.ccb_popup_notification
{
    position: relative;
    display: flex;
    align-items: center;
}

.ccb_popup_notification p
{
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.ccb_popup_notification p a
{
    text-decoration: underline;
    color: #fff;
}

.ccb_popup_notification p a:hover
{
    text-decoration: none;
}

.ccb_popup_notification .cbb_icon
{
    max-width: 5%;
    min-width: 50px;
}

.ccb_popup_notification .cbb_icon img
{
    width: 100%;
}

.ccb_popup_buttons
{
    min-width: 250px;
    text-align: right;
}

.ccb_button, .ccb_button:visited
{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px 15px;
    border-radius: 5px;
    background: #fff;
    color: #0da80d;
    margin-left: 10px;
    outline: none;
    opacity: 1;
}

.ccb_button.disagree
{
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.ccb_button:hover
{
    opacity: 0.9;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) and (max-width: 960px) {
    .ccb_popup_buttons
    {
        min-width: 120px;
        text-align: right;
    }

    .ccb_button
    {
        display: block;
        margin-bottom: 20px;  
    }

    .ccb_button.disagree
    {
        margin-bottom: 0;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .ccb_popup_cookie_inner
    {
        display: flex;
        flex-direction: column ;
    }

    .ccb_popup_notification
    {
        display: flex;
        flex-direction: column ;
    }

    .ccb_popup_notification p
    {
        padding: 0;
        margin: 0 0 10px 0;
    }

    .ccb_button
    {
        margin: 0 10px;
    }
}