.ccb_icon_uploader
{
    width: 100%;
    vertical-align: bottom;
}

.ccb_icon_uploader img
{
    max-width: 50px;
}

#add_custom_country_message
{
    margin-top: 20px;
}

.ccb_custom_country_fields
{
    margin: 20px 0;
    display: block;
    clear: both;
    padding-bottom: 20px;
    border-bottom: 2px dashed #ccc;
}

.ccb_custom_country_fields label
{
    display: block;
    width: 100%;
    text-align: right;
}

.ccb_custom_country_fields label select
{
    margin-left: 10px;
}